*{
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}

body {
   background-color: #010001;
   padding-top: 53px;
   font-family: "Roboto", sans-serif;
   color: #fff;
}

.container {
   max-width: 80%;
   margin: 0 auto;
}

#header {

}

.header {
   display: flex;
   justify-content: space-between;;
}

.list {
   display: flex;

   &__item {

   }

   &__link {
      color: #fff;
      margin: 0 10px;
      font-size: 12px;
      line-height: 14px;
   }

   .side-link {
      color: #808080;
      transition: all .2s ease;

      &:hover {
         color: #fff;
      }
   }
}

.main{
text-align: center;
padding: 120px 0 30px 0;

   &__title {
      font-size: 64px;
      line-height: 75px;
      font-weight: 400;
      margin-bottom: 26px;
   }

   &__description {
      font-size: 16px;
      line-height: 22px;
      font-weight: 300;
      max-width: 268px;
      margin: 0 auto;

      &:after {
         content: '';
         display: block;
         width: 1px;
         height: 60px;
         background-color: #fff;
         margin: 26px auto;
      }
   }
}

.video {
   height: 600px;
   width: 100%;
}

.features {
   padding: 100px 0;
   position: relative;

   &__overview {
   }

   &__title {
      font-size: 24px;
      line-height: 140%;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 45px;
   }

   &__table {
      margin-bottom: 200px;

      .table-column {
         width: 300px;
         padding: 5px 0;
         font-size: 18px;
         line-height: 179%;
         font-weight: normal;
      }
   }

   &__text {
      max-width: 490px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 29px;
   }
}

.rocket {
   position: absolute;
   max-width: 265px;
   top: 50px;
   right: 0;
   z-index: 99;
}

#footer {
   padding: 130px 0 130px 0;
   
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;

   .logo {
      margin-bottom: 43px;
   }

   .footer-text {
      font-size: 18px;
      line-height: 21px;
      color: #808080;
      margin-bottom: 40px;

      a {
         font-size: 18px;
         line-height: 21px;
         color: #808080;
      }
   }

   .button {
      display: inline-block;
      min-width: 260px;
      padding: 20px;
      color: #fff;
      text-align: center;
      border: 2px solid #fff;
      box-sizing: border-box;
      border-radius: 6px;
   }

   .footer-nav {
      margin-bottom: 28px;

      .list {

         &__item {

         }

         &__link {
            font-size: 18px;
            line-height: 21px;
         }
      }
   }
}


@media (max-width: 960px) {

   .rocket {
      max-width: 230px;
   }

   .table-column {
      max-width: 250px;
   }
}

@media (max-width: 768px) {
   .header{
      flex-direction: column;
      align-items: center;

      .logo {
         margin-bottom: 20px;
      }
   } 

   .rocket {
      display: none;
   }

}